<html lang="en"><head>
  <meta charset="UTF-8">
  <title>Yonacet - CV</title>
  <script>
    window.console = window.console || function(t) {};
  </script>
  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage("resize", "*");
    }
  </script>
  </head>
  <body translate="no" onload="draw()">
  
  
  <script src="/javascripts/jquery-2.2.4.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Share+Tech|Share+Tech+Mono" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Designs by Laighlin</title>
  
  
  <canvas id="bg"></canvas>
  <main id="content" style="opacity: 1; margin-top: 0px;">
  <h1>
  <div class="hex moved"></div><span>Acerca de mi</span></h1>
  <div class="subtext" id="main">
  <p>Soy Yonacet Seijas un estudiante de 19 años y aprendiz en programación. Estoy capacitado para resolver problemas algoritmicos y pasarlos a un lenguaje de programación. Mi meta es saber al 100% programación</p>
  <p><b>Fecha de Nacimiento:</b><i>01-10-2004</i></p>
  <p><b>Estado Civil:</b><i>Soltero</i></p>
  <p><b>Dirección:</b><i>Los Colorados, Villa de Cura, Edo. Aragua, Venezuela</i></p>
  </div>
  <h2>
  <div class="hex"></div><span>Habilidades</span></h2>
  <div class="subtext coll">
  <ol>
    <li>HTML   <progress value="70" max="100"></progress>  70%</li>
    <li>CSS   <progress value="50" max="100"></progress>    50%</li>
    <li>javascripts<progress value="20" max="100"></progress>20%</li>
  </ol>
  </div>
  <h2>
  <div class="hex"></div><span>Hobbies &amp; Intereses</span></h2>
  <div class="subtext coll">
  Me encantan los videojuegos. Música. La gastronomía.
  </div>
  <h2>
  <div class="hex"></div><span>Experiencia</span></h2>
  <div class="subtext coll">
    2018 - Presente

    - Desarrollo de estrategias de marketing y ventas para aumentar la visibilidad y el alcance de la tienda en línea.
    - Gestión del inventario y control de stock para garantizar la disponibilidad de productos en todo momento.
    - Atención al cliente, resolución de problemas y manejo de quejas para asegurar la satisfacción del cliente.
    - Negociación con proveedores para obtener los mejores precios y condiciones de compra.
    - Análisis del mercado y seguimiento de las tendencias para mantenerse actualizado sobre los productos más populares y demandados.
    - Gestión financiera, incluyendo el manejo del presupuesto, la facturación y el seguimiento de los pagos.
    
    Logros destacados:
    
    - Aumento del 30% en las ventas durante el primer año gracias a una estrategia efectiva de marketing digital.
    - Implementación exitosa de un programa de fidelización que ha aumentado la lealtad del cliente y ha generado ventas recurrentes.
    - Reducción significativa en los costos operativos mediante la optimización del inventario y la negociación con proveedores.
  </div>
  <h2>
  <div class="hex"></div><span>Educación</span></h2>
  <div class="subtext coll">
    <b>Escuela básica estadal camatagua</b>
    <b>Unidad educativa nacional "Francisco Linares Alcántara"</b>
    <b>UNERG (UNIVERSIDAD NACIONAL EXPERIMENTAL RÓMULO GALLEGOS) - ACTUAL</b>

  </div>
  <h2>
  <div class="hex"></div><span>Contactame</span></h2>
  <div class="subtext coll">
  <ul>
  <li>Phone: +58 412-12345678</li>
  <li>E-mail: <a>yonacetandreizseijastamayo@gmail.com</a></li>
  <li> <a>Twitter</a> | <a>Tumblr</a> | <a>Codepen</a> | <a>Behance</a></li>
  </ul>
  </div>
  </main>
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="wave" id="one"><path d="M-13.36,88.98 C168.85,182.73 276.72,-73.84 506.31,79.10 L500.00,150.00 L0.00,150.00 Z"></path></svg>
  <svg viewBox="0 0 500 150" preserveAspectRatio="none" class="wave" id="two"><path d="M-13.36,88.98 C168.85,182.73 276.72,-73.84 506.31,79.10 L500.00,150.00 L0.00,150.00 Z"></path></svg>
  <div id="hex-holder">
  <div class="hex" id="uno"></div>
  <div class="hex" id="dos"></div>
  <div class="hex" id="tres"></div>
  </div>
  
  
  <script id="rendered-js">
  function draw() {
    var canvas = $('canvas')[0];
    if (canvas.getContext) {
      var ctx = canvas.getContext('2d');
      ctx.fillStyle = 'rgb(200, 0, 0)';
      ctx.fillRect(10, 10, 50, 50);
      ctx.fillStyle = 'rgba(0, 0, 200, 0.5)';
      ctx.fillRect(30, 30, 50, 50);
    }
  }
  
  $(document).ready(function () {
    // $(document).draw();
    $('#content').animate({
      opacity: 1,
      marginTop: '0' },
    800);
    $('h2').click(function () {
      $(this).next('.subtext').slideToggle('fast');
      $(this).children('.hex').toggleClass('moved');
    });
  });
  //# sourceURL=pen.js
      </script>
  
  
  </body>
</html>