<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta charset="iso-8559-1"/>
    <meta name= "description" content="pagina de enseñanza"/>
    <meta name="keywords" content="html5,javascript,diseño web"/>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Yonacet - CV</title>
  </head>
  <body>
  <!--*****************************************-->
  
  
  <h1><span class="title">****</span>Curriculum CV<span class="title">****</span></h1>
  
  <div id="grid-container">
    <div id="container-img-icon">
      <span class="span">*************</span><img src="/images/yo.jpg"><span class="span">*************</span>
   </div>
   <!--***************************************************************-->
  <fieldset id="fieldset1" class="ubicar-F ubicar1">
    <legend id="legend1" class="legenddd">Acerca de mi</legend>
    <div id="centrarDiv">
    <p>_Soy Yonacet Seijas un estudiante de 19 años y aprendiz en programación. Estoy capacitado para resolver problemas algoritmicos y pasarlos a un lenguaje de programación. Mi meta es saber al 100% programación.</p><br>
    <ul>
      <li>Fecha de Nacimiento: 01-10-2004</li>
      <li>Estado Civil: Soltero</li>
      <li>Dirección: Los Colorados, Villa de Cura, Edo. Aragua, Venezuela</li>
    </ul>
    </div>
  </fieldset>
  <!--*****************************************-->
  <fieldset id="fieldset2" class="ubicar-F ubicar2">
    <legend id="legend2" class="legenddd">Habilidades</legend>
     
    <ol id="ol">
    <li>HTML<progress value="70" max="100" class="progress"></progress><span class="greenn">70%</span></li>
    <li>CSS<progress value="50" max="100" class="progress"></progress><span class="greenn">50%</span></li>
    <li>javascripts<progress value="20" max="100" class="progress"></progress><span class="greenn">20%</span></li>
    <li>Capacidad de Aprendizaje<progress value="80" max="100" class="progress"></progress><span class="greenn">80%</span></li>
    <li>Colaboracion en Equipo<progress value="100" max="100" class="progress"></progress><span class="greenn">100%</span></li>
  </ol>
  </fieldset>
  <!--*****************************************-->
  <fieldset id="fieldset3" class="ubicar-F ubicar3">
    <legend id="legend3" class="legenddd">Hobbies &amp; Intereses</legend>
    <ul id="hobbies">
      <li>Me encantan los videojuegos. Música. La gastronomía.</li>
      <li>Me Gusta la Lectura</li>
      <li>Me gustan los deportes</li>
      <li>Me gusta la Gastronomia</li>
      <li>Me gusta el Parkour</li>
    </ul>
  </fieldset>
  <!--*****************************************-->
 <fieldset id="fieldset4" class="ubicar-F ubicar4">
   <legend id="legend4" class="legenddd">Experiencia</legend>
     <div id="experiencia">
     2018 - Presente

    <p>- Desarrollo de estrategias de marketing y ventas para aumentar la visibilidad y el alcance de la tienda en línea.
    - Gestión del inventario y control de stock para garantizar la disponibilidad de productos en todo momento.
    - Atención al cliente, resolución de problemas y manejo de quejas para asegurar la satisfacción del cliente.
    - Negociación con proveedores para obtener los mejores precios y condiciones de compra.
    - Análisis del mercado y seguimiento de las tendencias para mantenerse actualizado sobre los productos más populares y demandados.
    - Gestión financiera, incluyendo el manejo del presupuesto, la facturación y el seguimiento de los pagos.

    Logros destacados:
    
    - Aumento del 30% en las ventas durante el primer año gracias a una estrategia efectiva de marketing digital.
    - Implementación exitosa de un programa de fidelización que ha aumentado la lealtad del cliente y ha generado ventas recurrentes.
    - Reducción significativa en los costos operativos mediante la optimización del inventario y la negociación con proveedores.</p>
    </div>
   </fieldset>
   <!--*****************************************-->
  <fieldset id="fieldset5" class="fiel ubicar-F ubicar5">
    <legend id="legend5" class="legenddd">Educación</legend>
     <ol id="educacion">
       <li>Escuela básica estadal camatagua</li>
       <li>Unidad educativa nacional "Francisco Linares Alcántara</li>
       <li>UNERG (UNIVERSIDAD NACIONAL EXPERIMENTAL RÓMULO GALLEGOS) - ACTUAL</li>
     </ol>
   
  </fieldset>
  <!--*****************************************-->
  <fieldset id="fieldset6" class="ubicar-F ubicar6">
    <legend id="legend6" class="legenddd">Contactame</legend>
    <!--<ul>
  <li>Phone: +58 412-12345678</li>
  <li>E-mail: <a>yonacetandreizseijastamayo@gmail.com</a></li>
  <li> <a>Twitter</a> | <a>Tumblr</a> | <a>Codepen</a> | <a>Behance</a></li>
  </ul>-->
  <form action="/" method="post">
    <p id="p"><strong>Formulario de Contacto</strong></p>
    <input type="text" name="nombre" placeholder="Ingresa Nombre Completo">
    <input type="email" name="email" placeholder="Ingresa Email">
    <textarea name="mensaje" placeholder="Ingresa un mensaje"></textarea>
    <input type="submit" name="enviar" value="Enviar" id="submit">
  </form>
  </fieldset>
  </div>
  <div id="icon">
    <img src="/icon/html5.svg">
    <img src="/icon/javascript-icon.svg">
    <img src="/icon/mono.svg">

  </div>

  <!--*****************************************-->
  <script type="text/javascript" src="/javascripts/funcionalidad.js"></script>
  </body>
</html>